.checkout-container {
	width: 80%;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 0;

	.checkout-header {
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid darkgrey;

		.header-block {
			text-transform: capitalize;
			display: inline-block;
			width: 22%;

			&:last-child {
				width: 8%;
				margin-left: 1%;
			}
		}
	}

	.total {
		margin-top: 30px;
		margin-right: auto;
		font-size: calc(25px + 1vw);
	}
}
