.button {
	--color-dark: #282828;
	--color-light: white;
	--border-dark: 2px solid var(--color-dark);
	--border-transparent: 2px solid transparent;

	cursor: pointer;
	border: none;
	padding: .9rem 1.5em; 
	font-size: 1.45vw;
	font-family: inherit;
	border-radius: 4px;
	border: var(--border-transparent);
	backface-visibility: hidden;
	position: relative;
	transition: all .2s;

	&:active {
		transform: scale(.95);
	}

	// For button Extra padding on the side where icon present
	&-icon-pad {
		padding: 1rem 1.3em 1rem 2.6em; 
	}
	&-icon-container {
		position: absolute;
		font-size: 2vw;
		left: 12px;
		top: 14px;
	}

	&-primary {
		background-color: #1DA1F2D6;
		color: white;
		&:hover {
			background-color: #002f46;
		}
	}
	&-light {
		color: var(--color-dark);
		background-color: var(--color-light);
		border: var(--border-dark);

		&:hover {
			color: white;
			background-color: var(--color-dark);
		}
	}
	&-dark {
		color: #fff;
		background-color: var(--color-dark);

		&:hover {
			color: var(--color-dark);
			background-color: var(--color-light);
			border: var(--border-dark);
		}
	}

	&-group {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	@media screen and (max-width: 1050px) {
		font-size: 16px;
		&-icon-container {
			font-size: 20px;
		}
	}
}
