.product {
	&-container {
		position: relative;
		overflow: hidden;
		padding: .3rem;
		border-radius: 4px;
		box-shadow: 0 0 .4rem .1rem rgba(0, 0, 0, .2);
		transition: all .2s;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
		}

		button {
			position: absolute;
			top: 65%;
			left: 5%;
			width: 90%;
			z-index: 100;
			opacity: .9;
		}
		@media (hover: hover) {
			button {visibility: hidden; opacity: 0;}

			&:hover {
				transform: translateY(-5px);
				&::after {
					background-color: rgba(255, 255, 255, .2);
				}
				button {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	&-img {
		border-radius: 4px;
		width: 100%;
		aspect-ratio: 3.3/4;
	}
	&-footer {
		width: 100%;
		margin-top: .4rem;
		align-self: flex-start;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-name {
		font-size: 1.4rem;
		letter-spacing: 0;
		color: #282828;
	}
}