.sign-up-container, .sign-in-container {
	width: 32%;

	h2 {
		letter-spacing: 0;
		margin-bottom: .4rem;
		font-size: 32px;	
		color: #282828;
	}
	span {
		display: inline-block;
		font-size: 14px;
		letter-spacing: 0;
		color: #777;
		margin-bottom: 1.2rem;
	}
}
