.navigation {
	display: flex;
	padding: 2rem 3.5rem;
	justify-content: space-between;
	align-items: center;

	&-logo {
		cursor: pointer;
		margin-right: 2rem;

		&:hover {
			filter: brightness(70%);
		}
	}

	&-link {
		display: inline-block;
		width: max-content;
		padding: 8px 10px;
		border-bottom: 2px solid grey;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;
		color: #282828;
		font-size: 14px;
		font-weight: 700;
		position: relative;

		&:not(:last-child) {
			margin-right: 22px;
		}


		&:hover, &:active {
			outline: 0;

			&::before {
				transition: all .2s ease-in;
				width: 100%;
			}
		}
		&:focus {
			outline: 0;
			background-color: #22e0ff;
		}

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 0; 
			left: 0;
			height: 100%;
			background-color: cyan;
			width: 0px;
			z-index: -1;
		}
	}
	@media screen and (max-width: 585px) {
		padding: 2rem 0;
		flex-direction: column;
	}
}