.cart {
	display: inline-block;
	cursor: pointer;
	padding: 2px 4px;
	position: relative;
	outline: none;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	color: #777;

	// targetting- Cart Icon svg 
	& > * {
		height: 1.5rem;
		width: 1.5rem;
	}

	&:before {
		content: attr(cart-size);
		color: #000;	
		width: 24px;
		height: 24px;
		padding: 3px 1px 0 0;
		letter-spacing: 0;
		position: absolute;
		left: 65%;
		top: -45%;
		background-color: cyan;
		border-radius: 50%;
	}
	&:focus {
		color: #000;
		border: 1px solid #777;
	}
}