.item {
	&-container {
		margin-bottom: 1rem;
		position: relative;
	}

	&-img {
		display: inline-block;
		width: 50px;
		height: 55px;
		border-radius: 4px;
	}

	&-name, &-price {
		padding: 0 8px;
		display: inline-block;
		position: absolute;
	}
	&-price {
		bottom: 10px;
	}
}
